[Unit]
Description=Run Minecraft

[Service]
Type=simple
EnvironmentFile=-/etc/default/minecraft
ExecStart=/usr/local/sbin/start_minecraft
Restart=on-failure
User=x2go
Group=users
LimitNICE=+10

[Install]
WantedBy=multi-user.target
Alias=minecraft.service
